<div class="flex">
    <div class="pics">
        <button (click)="prev(product.id)"> << </button>
        <button (click)="next(product.id)">>></button>
        <img [id]="product.id + '_img'" [src]="product.imgs[0]">
    </div>
    <div class="info">
        <div class="name">
            Product name:
            <br>
            {{product.name}}
        </div>
        <div class="description">
            Description:
            <ul *ngFor="let description of this.descriptions">
                <li *ngIf="description">

                {{description}}
                </li>
            </ul>
        </div>
        <div class="rating">
            Rating:
            <br>
            {{product.rating}}
        </div>
    </div>
</div>