<div class="flex">
  <div id="8">
    asdasdasd
  </div>
  <div id="9">
    asdasdasd
  </div>
  <div id="10">
    asdasdasd
  </div>
  <div id="11">
    asdasdasd
  </div>
  <div id="12">
    asdasdasd
  </div>
  <div id="13">
    asdasdasd
  </div>
  <div id="14">
    asdasdasd
  </div>
  <div id="15">
    asdasdasd
  </div>
  <div id="16">
    asdasdasd
  </div>
  <div id="17">
    asdasdasd
  </div>
  <div id="18">
    asdasdasd
  </div>
  <div id="19">
    asdasdasd
  </div>
  <div id="20">
    asdasdasd
  </div>
  <div id="21">
    asdasdasd
  </div>
</div>
